<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="esaImg">
		<div class="esa">
			<hi class=menter>講師一覧</h1>
		</div>
		<div class="main-content">
		<form action=""method="get">
			<input type="text"name="keyword"placeholder="名前を入力">
			<button type="submit">検索</button>
	  <div class="table">
	<table class="table"border="1">
		<tr>
			<th>名前	</th>
			<th>年齢</th>
			<th>生年月日</th>
			<th>email</th>
			<th>TEL</th>
			<th>プラン名</th>
		</tr>
		 <tr th:each="user:${user}">
			<td th:text="${user.username}"></td>
			<td th:text="${user.age}"></td>
			<td th:text="${user.birthday}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.tel}"></td>
			<td th:text="${user.plan}"></td>
			<td>
				<button class="edit-btn">編集</button>
				<button class="delete-btn">削除</button>
				</td>
		</tr>
	</table>
			</div>
			</div>
			</div>

</body>
</html>