<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>登録内容編集画面</h1>
<form th:action="@{/student/save}" th:object="${user}" method="post">
	<input type="hidden"th:field="*{id}"/>
	<label>名前</label>
	<input type="text"th:field="*{username}"/>
	<label>年齢</labele>
	<input type="number"th:field="*{age}"/>
	<label>生年月日</label>
	<input type="text"th:field="*{birthday}"/>
	<label>email</label>
	<input type="text"th:field="*{email}"/>
	<label>TEL</label>
	<input type="text"th:field="*{tel}"/>
	</br>
	<label>プラン名</label>
	<select th:field="*{plan}">
		<option value ="planSelect">---</option>
			<option value ="STANDARD">STANDARD</option>
			<option value ="PREMIUN">PREMIUM</option>
			</select>
			</br>
	<input type="hidden"th:field="*{role}"/>
	<button type="submit">+ 内容を変更する</button>
</form>
</body>
</html>