<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

	<select id="searchStudent"
		resultType="com.example.demo.model.User">
		SELECT * FROM user
		WHERE 1=1
		AND role='ROLE_STUDENT'

		<if test="username != null and username != ''">
			AND username LIKE CONCAT('%', #{username}, '%')
		</if>

		<if test="age != null and age != ''">
			AND age = #{age}
		</if>

		<if test="birthday != null and birthday != ''">
			AND birthday = #{birthday}
		</if>

		<if test="email != null and email != ''">
			AND email = #{email}
		</if>

		<if test="tel != null and tel != ''">
			AND tel = #{tel}
		</if>

		<if test="plan != null and plan != ''">
			AND plan = #{plan}
		</if>

	</select>

	<select id="searchAdmin"
		resultType="com.example.demo.model.User">
		SELECT * FROM user
		WHERE 1=1
		AND role='ROLE_ADMIN'

		<if test="username != null and username != ''">
			AND username LIKE CONCAT('%', #{username}, '%')
		</if>

		<if test="age != null and age != ''">
			AND age = #{age}
		</if>

		<if test="birthday != null and birthday != ''">
			AND birthday = #{birthday}
		</if>

		<if test="email != null and email != ''">
			AND email = #{email}
		</if>

		<if test="tel != null and tel != ''">
			AND tel = #{tel}
		</if>

	</select>

</mapper>